body {
    background-color: cadetblue;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.navigation-bar {
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    display: inline-block;
    height: 70px;
}

.logo {
    padding-left: 30px;
    height: 120px;
    position: relative;
    bottom: 28px;
}

.navigation-bar ul {
    list-style-type: none;
    float: right;
    margin-right: 30px;
}

.navigation-bar li {
    padding: 10px 10px;
    display: inline-block;
}

li a {
    text-decoration: none;
    color: 	#376e5f;
    font-weight: 900;
}

#banner {
    padding: 30px 30px;
    margin: 0px 30px;
    background-color: white;
}

#banner img {
    width: 100%;
}

#about {
    margin: 0px 30px;
    padding: 20px 20px;
    background-color: white;
}

h2 {
    color: #990000;
    text-align: center;
}

#projects {
    margin: 0px 30px;
    padding: 20px 30px;
    background-color: white;
}

#projects .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-between;
}

#projects .card {
    background-color: cadetblue;
    width: 30%;
    margin-top: 25px;
}

#projects img {
    width: 100%;
}

#projects h3 {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

#projects p {
    padding: 0px 20px;
    color: white;
    font-size: 16px;
}

#projects a {
    color: #990000;
}

@media only screen and (max-width: 700px) {
    #projects .card {
        width: 45%;
        padding: 10px;
    }
}

@media only screen and (max-width: 700px) {
    #projects .card {
        width: 100%;
    }
}